/*@import "tailwindcss";*/
/*@plugin "daisyui" {*/
/*    !*themes: light --prefersdark, dark --default;*!*/
/*    themes: false;*/
/*}*/

/*@theme {*/
/*    --font-display: "Satoshi", "sans-serif";*/
/*    --breakpoint-3xl: 120rem;*/
/*}*/


/*!* Light theme using your palette *!*/
/*@plugin "daisyui/theme" {*/
/*    name: light;*/
/*    !*default: true;*!*/
/*    --color-primary: #111184;*/
/*    --color-secondary: #7373FF;*/
/*    --color-accent: #3C3CE8;*/
/*    --color-neutral: #070738;*/
/*    --color-base-100: #ffffff;*/
/*}*/

/*!* Dark theme: inverted roles for contrast *!*/
/*@plugin "daisyui/theme" {*/
/*    name: dark;*/
/*    !*prefersdark: true;*!*/
/*    --color-primary: #7373FF;*/
/*    --color-secondary: #3C3CE8;*/
/*    --color-accent: #111184;*/
/*    --color-neutral: #070738;*/
/*    --color-base-100: #0D0D23;*/
/*}*/

/*!* Custom variants scoped by data-theme attribute *!*/
/*@custom-variant theme-light (&:where([data-theme="light"] *));*/
/*@custom-variant theme-dark (&:where([data-theme="dark"] *));*/


@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
    themes: false;
}

@theme {
    --font-display: "Libertinus Math", serif;

    --color-my-primary: #3844a7;
    --color-my-primary-focus: #2a378e;
    --color-my-primary-content: #f7fdfd;

    --color-my-secondary: #5570bc;
    --color-my-secondary-focus: #425e9f;
    --color-my-secondary-content: #f7fdfd;

    --color-my-accent: #739cd1;
    --color-my-accent-focus: #5f85b6;
    --color-my-accent-content: #f7fdfd;

    --indx: #1a202c;
    --color-my-neutral-focus: #0f131a;
    --color-my-neutral-content: #f7fdfd;

    --color-my-base-100: #f7fdfd;
    --color-my-base-200: #e0f2f7;
    --color-my-base-300: #c7e8f0;
    --color-my-base-content: #1a202c;

    --color-my-info: #91c9e7;
    --color-my-success: #36d399;
    --color-my-warning: #fbbd23;
    --color-my-error: #f87272;

    /*--rounded-box: 1rem;*/
    /*--rounded-btn: 0.5rem;*/
    /*--rounded-badge: 1.9rem;*/
    /*--animation-btn: 0.25s;*/
    /*--animation-input: 0.2s;*/
    /*--btn-text-case: uppercase;*/
    /*--btn-focus-scale: 0.95;*/
    /*--border-btn: 1px;*/
    /*--tab-border: 1px;*/
    /*--tab-radius: 0.5rem;*/
}

